/*
 * Settings crucial for a proper canvas sizing
 */

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#hen_rescue_hero_canvas {
    /* Crucial for the game to adjust rendered game size to available viewport area: */
    width: 100% !important;
    height: 100% !important;
}

/*
 * Other settings
 */

html {
    /* Same color as PICO-8 one used within the game as the initial background */
    background-color: #1d2b53;
}
